@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir.eot');
    src: url('../fonts/vazir/Vazir.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Vazir.woff') format('woff'),
         url('../fonts/vazir/Vazir.ttf') format('truetype');
    font-weight: normal;
  }        
@font-face {
  font-family: Vazir;
  src: url('../fonts/vazir/Vazir-Bold.eot');
  src: url('../fonts/vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/vazir/Vazir-Bold.woff') format('woff'),
        url('../fonts/vazir/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}  
@font-face {
  font-family: Vazir;
  src: url('../fonts/vazir/Vazir-Light.eot');
  src: url('../fonts/vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/vazir/Vazir-Light.woff') format('woff'),
        url('../fonts/vazir/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
}

body,html,p,div,h1,h2,h3,h4,h5,h6{
    font-family: 'Vazir';
}
.post-entry,.post-detail,.post-content{
  direction: rtl;
}
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6{text-align: right; color:#7f8c8d;font-weight: 600}